.content-box {
  padding: 2.5rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media (min-width: 768px) {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  } 
}