@import '../helpers/all';

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-base;
  margin-bottom: 1rem;
  transition: .5s;

  &:hover {
    color: $primary-color;
  }
  
  svg {
    height: 2rem;
    width: 2rem;
    fill: currentColor
  }

  span {
    padding-left: 1.5rem;
  }
}
