@import '../helpers/all';

.footer {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.copyright {
  margin-bottom: 2rem;
  text-align: center;
  width: auto;

  @media (min-width: 768px) {
    margin-bottom: initial;
  }

  .top,
  .bottom {
    display: inline-block;
  }
}

.links {
  line-height: 0.5;
  
  a {
   display: inline-block;
   text-decoration: none;
   color: $color-base;
  
   &:not(:first-child) {
     margin-left: 2.4rem;
   }
  
   svg {
     height: 2.2rem;
     fill: currentColor;
   }
}

}


