@import '../helpers/all';

$color-subtitle: $primary-color;
$color-contact-link: $color-base;
$color-contact-link-hover: $color-subtitle;
$color-contact-link-border: $color-subtitle;


.greetings {
  margin-top: 16px;
  margin-bottom: 16px;
}

.subtitle {
  line-height: 1.1;
  font-size: 41px;
  color: $color-subtitle;

  @media (min-width: 375px) {
    font-size: 48px;
  }

  @media (min-width: 768px) {
    font-size: 56px;
  }

  @media (min-width: 768px) {
    font-size: 68px;
  }
}

.greetings,
.description,
.contact {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.description {
  margin-top: 25px;
  max-width: 500px;

}

.contact {
  margin-top: 20px;

  a {
    color: $color-contact-link;
    text-decoration: none;
    border-bottom: 2px solid $color-subtitle;
    
    &:hover {
      color: $color-contact-link-hover;
    }
  }
  
}