@import '../helpers/all';

.job {
  margin-bottom: 2rem;
}

.time-place {
  display: block;

  @media (min-width: 480px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.job-company {
  font-weight: 700;

  a {
    text-decoration: none;
    color: $color-base;
  }
}

.job-time {
  font-size: 1.4rem;
}