.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &.content-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
