@import '../helpers/all';

.project {
  margin-bottom: 2rem;


  & + .project {
    padding-top: 2rem;
    border-top: #ebf2f6 1px solid;
  }
}

.title {
  font-size: 2rem;
  margin: 1rem 0;
  
  a {
    text-decoration: none;
    color: $color-base;
  }
}

.tech-list {
  display: flex;
  font-size: 1.4rem;

  li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

