---
import MainLayout from '../../layouts/MainLayout.astro'
import { formatBlogPosts } from '../../js/utils'

const allPosts = await Astro.glob('./**/*.md')
const formattedPosts = formatBlogPosts(allPosts)
---

<MainLayout title="Mi Blog">
  <main tabindex="-1" id="main-content">
    <div class="wrapper region flow" data-size="narrow">
      <h1>Ultimos posts</h1>
      <ul role="list">
        {
          formattedPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</MainLayout>
