$body-color: $color-base;
$body-font-family: $primary-font-family;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $body-font-family;
  color: $color-base;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}