---
import MainLayout from '../layouts/MainLayout.astro'
import yml from '../_data/bookmarks.yaml'
import { groupBy, capitalize } from '../js/utils'

const groupedBookmarks = groupBy((f) => f.category, yml)

const bookmarksOrder = [
  'herramientas',
  'vectores',
  'iconos',
  'colores',
  'referencias',
  'css tools',
  'practicas',
  'librerias',
  'frameworks',
  'diagramas',
  'imagenes',
  'fuentes',
  'accesibilidad',
  'diseños',
]
---

<MainLayout
  title="Mis bookmarks de herramientas y recursos - Andres Gutierrez"
  description="Explora una colección curada de herramientas, librerías, frameworks, y recursos de diseño esenciales para desarrolladores y diseñadores web. Desde plataformas para practicar tus habilidades de frontend hasta generadores de código y herramientas de accesibilidad, esta lista incluye sitios como Frontend Mentor, Codewell, Cubic Bezier, Google Fonts, Pexels, Font Awesome, y muchos más. Ya sea que busques inspiración en diseño, optimización de imágenes, o mejoras en accesibilidad, aquí encontrarás los mejores recursos organizados por categorías como prácticas, herramientas, iconos, colores, vectores, y más. Maximiza tu productividad y eleva tus proyectos con estas herramientas y recursos web."
>
  <main tabindex="-1" id="main-content">
    <div class="wrapper content region flow">
      <h1>Bookmarks</h1>
      <p>
        Explora una colección curada de herramientas, librerías, frameworks, y
        recursos de diseño esenciales para desarrolladores y diseñadores web.        
      </p>

      <div class="bookmarks auto-grid">
        {
          bookmarksOrder.map((key) => (
            <div>
              <h2 class="text-base undecorated-title">{capitalize(key)}</h2>
              <ul class="no-list flow flow-zero" role="list">
                {groupedBookmarks[key].map(({ name, url }) => (
                  <li>
                    <a target="_blank" href={url}>
                      {name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</MainLayout>
