---
import MainLayout from '../layouts/MainLayout.astro'
import yml from '../_data/bookmarks.yaml'
import { groupBy, capitalize } from '../js/utils'

const groupedBookmarks = groupBy((f) => f.category, yml)

const bookmarksOrder = [
  'herramientas',
  'vectores',
  'iconos',
  'colores',
  'referencias',
  'css tools',
  'practicas',
  'librerias',
  'frameworks',
  'diagramas',
  'imagenes',
  'fuentes',
  'accesibilidad',
  'diseños',
]
---

<MainLayout
  title="Mis bookmarks de herramientas y recursos - Andres Gutierrez"
  description="Estas son las herramientas que uso para ser mas productivo o practicar para mejorar mis habilidades"
>
  <main tabindex="-1" id="main-content">
    <div class="wrapper content region flow">
      <h1>Bookmarks</h1>
      <p>
        Estas son las herramientas que uso para ser mas productivo o practicar
        para mejorar mis habilidades:
      </p>

      <div class="bookmarks auto-grid">
        {
          bookmarksOrder.map((key) => (
            <div>
              <h2 class="text-base undecorated-title">{capitalize(key)}</h2>
              <ul class="no-list flow flow-zero" role="list">
                {groupedBookmarks[key].map(({ name, url }) => (
                  <li>
                    <a target="_blank" href={url}>
                      {name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</MainLayout>
