---
import MainLayout from '../layouts/MainLayout.astro'
import yml from '../_data/bookmarks.yaml'
import { groupBy, capitalize } from '../js/utils'

const groupedBookmarks = groupBy((f) => f.category, yml)

const bookmarksOrder = [
  'herramientas',
  'vectores',
  'iconos',
  'colores',
  'referencias',
  'css tools',
  'practicas',
  'librerias',
  'frameworks',
  'diagramas',
  'imagenes',
  'fuentes',
  'accesibilidad',
  'diseños',
  'ia',
]
---

<MainLayout
  title="Mis bookmarks de herramientas y recursos - Andres Gutierrez"
  description="Colección personal de bookmarks con herramientas, recursos y enlaces útiles para desarrollo, productividad y aprendizaje. Curado por Andres Gutiérrez."
  keywords="herramientas, librerías, frameworks, recursos, diseño web, desarrollo web, frontend, icons, colores, tipografía, accesibilidad, IA, inteligencia artificial, CSS, JavaScript"
>
  <main tabindex="-1" id="main-content">
    <div class="wrapper content region flow">
      <h1>Bookmarks</h1>
      <p>
        Explora una colección curada de herramientas, librerías, frameworks, y
        recursos de diseño esenciales para desarrolladores y diseñadores web.        
      </p>

      <div class="bookmarks auto-grid">
        {
          bookmarksOrder.map((key) => (
            <div>
              <h2 class="text-base undecorated-title">{key == 'ia' ? 'IA' : capitalize(key)}</h2>
              <ul class="no-list flow flow-zero" role="list">
                {groupedBookmarks[key].map(({ name, url }) => (
                  <li>
                    <a target="_blank" href={url}>
                      {name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</MainLayout>
