---
import MainLayout from '../layouts/MainLayout.astro'
import socialMedia from '../_data/social-media'
import { Icon } from 'astro-icon'
---

<MainLayout
  title="Encuentrame en social media - Andres Gutierrez"
  description="Estos son los lugares donde me puedes encontrar en la web"
>
  <main>
    <div class="wrapper prose region flow">
      <h1>Contacto</h1>
      <p>Me puedes contactar por:</p>
      <nav>
        <ul role="list">
          {
            socialMedia.map(({ name, url, slug, icon }) => {
              return (
                <li>
                  <a
                    href={url}
                    target="_blank"
                    class="inline-flex items-center gap-2xs"
                    aria-label={`Enlace hacia mi ${name}`}
                  >
                    <Icon width="20" name={icon}} />
                    {slug}
                  </a>
                </li>
              )
            })
          }
        </ul>
      </nav>
    </div>
  </main>
</MainLayout>
