---
import yml from '../_data/experience.yaml'
---

<ul
  role="list"
  class="experience flow no-list"
  aria-label="Experiencia laboral"
>
  {
    yml.map((item) => (
      <li>
        <div class="experience__detail">
          <a class="font-bold no-underline" href={item.url}>
            {item.company}
          </a>
          <span class="block text-step-0">{item.time}</span>
        </div>
        <p class="experience__position">{item.position}</p>
      </li>
    ))
  }
</ul>
