---
---

<footer role="contentinfo" class="wrapper repel pt-s pb-m">
  &nbsp;
  <div class="flow">
    <nav aria-label="secondary navigation" class="cluster text-step-0">
      <a href="/tips">Tips</a>
      <a href="/bookmarks">Bookmarks</a>
      <a
        target="_blank"
        href="https://github.com/AGutierrezR/agutierrezr.github.io"
        >Ver fuente</a
      >
    </nav>
  </div>
</footer>
