---
---

<footer role="contentinfo" class="wrapper repel pt-s pb-m">
  &nbsp;
  <div class="flow">
    <nav aria-label="secondary navigation" class="cluster text-step-0">
      <a href="https://www.notion.so/ca65af340a524e3e9b2479355286a8ab?v=8e62bcfcc0fc46bf8400065f26902f57">SOPs</a>
      <a href="/tags">Tags</a>
      <a href="/bookmarks">Bookmarks</a>
      <a
        target="_blank"
        href="https://github.com/AGutierrezR/agutierrezr.github.io"
        >Ver fuente</a
      >
    </nav>
  </div>
</footer>
