.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.links a {
  display: inline-block;
  text-decoration: none;

  &:not(:first-child) {
    margin-left: 2.4rem;
  }
}
