.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright {
  margin-bottom: 2rem;
  text-align: center;
  width: auto;
}

.links {
  line-height: 0.5;
  
  a {
   display: inline-block;
   text-decoration: none;
  
   &:not(:first-child) {
     margin-left: 2.4rem;
   }
  
   svg {
     height: 2.2rem;
   }
}

}


