.about .skills {
  --grid-placement: 2;
  --grid-min-item-size: 12ch;

  justify-content: space-between;
}

@media screen(sm) {
  .about .skills {
    --grid-placement: 4;
    --grid-min-item-size: auto;
    --grid-max-item-size: auto;
    /* grid-template-columns: repeat(4, auto); */
  }
}
