.about .skills {
  --grid-placement: 2;
  --grid-min-item-size: 12ch;

  justify-content: space-between;
}

.about ul li::marker{
  all: unset
}

.about .skills ul li{
  margin-top: unset
}

@media screen(sm) {
  .about .skills {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
