.content {
  --flow-space: var(--space-s);
  line-height: 1.8;
  max-width: 50rem;
}

/* Less space for items that follow headings */
.content h1 + * {
  --flow-space: 0.5em;
}

.content :is(h2, h3, h4) {
  --flow-space: var(--space-l);
}
