.prose {
  --flow-space: var(--space-m);
  line-height: 1.6;
  max-width: 50rem;
}

.prose > img,
.prose > table {
  width: 100%;
}

.prose time {
  font-size: var(--size-step-0);
}

.prose figure img {
  border: 1px dashed var(--color-mid);
  margin-inline: auto;
}

.prose li :is(ul, ol) {
  margin-top: 0.75rem;
}

/* More space after and around certain elements */
.prose :is(pre, pre + *, figure, figure + *, h2, h3, h4) {
  --flow-space: var(--space-l);
}

/* Less space for items that follow headings */
.prose h1 + * {
  --flow-space: 0.5em;
}

.prose :is(h2 + *, h3 + *, h4 + *) {
  --flow-space: var(--space-s);
}

/* Break out code */
.prose :is(pre) {
  margin-left: 50%;
  max-width: 52rem;
  transform: translateX(-50%);
  width: 100vw;
  border-radius: .25rem;
}

.prose :not(pre) > code {
  background-color: rgb(241, 245, 249);
  border-color: rgb(226, 232, 240);
  border-radius: .25rem;
  border-style: solid;
  border-width: 1px;
  font-size: var(--size-step-neg-1);
  padding: .20rem .25rem;
}
