---
import MainLayout from './MainLayout.astro'
---

<MainLayout title="Andres Gutierrez">
  <main class="cover">
    <div class="home-intro wrapper flow">
      <slot />
    </div>
  </main>
</MainLayout>
