---
import MainLayout from './MainLayout.astro'

const { frontmatter } = Astro.props
---

<MainLayout title={frontmatter.metaTitle} description={frontmatter.metaDesc}>
  <main class="cover">
    <div class="home-intro wrapper flow">
      <slot />
    </div>
  </main>
</MainLayout>
